* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.container {
  background-color: #23424a;
  color: white;

  width: 80%;
  margin: 0 auto;

  /* height: 300px; */
  /*? Para que o layout seja responsivo não defina uma altura para o elemento*/
}
